<script src='/assets/js/newine.js'></script>
<script src='/assets/js/dispensers_calibrate.js'></script>
<div class='loading-header'>
	<div style="height: 30px; width: 30px; margin-left: 50%;" class='ajax-loader-1'>
	</div>
</div>
<div class='container'>
	<div class='row'>
		<div class='col-md-5' style='padding-left: 40px;'>
			<h2>Calibrando dispenser <%= @dispenser.id %></h2>
		</div>
	</div>
	<div class='row' style='padding-left: 40px;'>
		<form class='form-inline calibrate-form' data-dispenser-id=<%= @dispenser.id %>>
			
			<% @dispenser.bottle_holders.each_with_index do |bh,n| %>
			<div class='row'>
				<h3>Posicion <%= n %>
			</div>
			<div class='row' style='margin-top:20px;'>
				<div class='col-md-3 col-xs-3'>
					<label>Hasta 100 ml</label><input type="number" name="ml_to_ms[<%= n %>][low]" class='form-control' value=<%= @dispenser.ml_to_ms[n]['low'] %>>
				</div>
				<div class='col-md-3 col-xs-3'>
					<label>Hasta 200 ml</label><input type="number" name="ml_to_ms[<%= n %>][med]" class='form-control' value=<%= @dispenser.ml_to_ms[n]['med'] %>>
				</div>
				<div class='col-md-3 col-xs-3'>
					<label>Mas de 200 ml</label><input type="number" name="ml_to_ms[<%= n %>][high]" class='form-control' value=<%= @dispenser.ml_to_ms[n]['high'] %>>
				</div>
			</div>
			<% end %>
			<div class='row' style='margin-top:5px;'>
				<div class='col-md-12 col-xs-12'>
					<a class='btn btn-success btn-lg pull-right apply-calibration' data-dispenser-id=<%= @dispenser.id %>><span class='glyphicon glyphicon-ok'></span> Aplicar</a>
				</div>
			</div>
		</form>
	</div>
</div>